@charset "UTF-8";

body{
    font: normal 12pt Arial;
    background: url("../img/tecno.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div#interface{
    width: 700px;
    text-align: center;
    background-color: rgba(77, 224, 224, 0.815);
    box-shadow: 2px 2px 4px black;
    margin: 30px auto 20px auto;
    border-radius: 4px;
    padding: 15px;
}

section#corpo{
    padding-top: 20px;
    border-top: 1px solid black;
}

nav#menu{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
    padding: 5px;
    position: absolute;
    background-color: rgba(102, 102, 168, 0.37);
    top: 30px;
    left: 20px;
}

nav#menu:hover{
    margin-right: 80px;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
}

nav#menu li{
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(91, 80, 253);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-family: Arial;
    color: black;
    margin-right: 30px;
    margin-bottom: 20px;
    transition: background-color 0.4s;
    transition: padding-left 0.4s;
    transition: padding-right 0.4s;
    transition: padding-top 0.4s;
    transition: padding-bottom 0.4s;
    transition: font-size 0.4s;
}


nav#menu li:hover{
    background-color: rgb(130, 130, 240);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 30px;
    text-decoration: none;
}

nav#menu a{
    text-decoration: none;
    color: black;
}

nav#menu a:hover{
    color: white;
}

footer#rodape{
    border-top: 1px solid black;
}